body.error
  background: #1a1a1a url('/img/404.jpg') center center
  background-repeat: no-repeat
  background-size: cover
  color: $white !important
  height: 100%
  width: 100%

  .wrapper.page
    h1, p, a
      color: $white
      text-decoration: none

    .logo
      background: url('../img/logo.png');
      background-image: url('../img/logo.svg'), none;
      background-position: center center
      background-repeat: no-repeat
      height: 200px
      width: @height
      background-size: @height
      margin: 0 auto 49px

    h1
      font-size: 60px !important
      line-height: @font-size
      margin-bottom: 10px

    .social-links a
      font-size: 60px
      margin: 10px

  .footer
    display: none
