// COLORS
$dark = #212121
$mid = #414141
$light = #a2a2a2
$white = #fff
$yellow = #fff200

// FONTS
$heading = "brandon-grotesque",sans-serif;
$body = "clavo",sans-serif


// GENERAL

body
  -webkit-font-smoothing: antialiased
  background:$white
  margin: 0 auto
  height: 100%
  font-family: $body
  
  .wrapper
    width: 940px
    padding:  0 10px
    margin: 0 auto
    
// TYPOGRAPHY
h1
  font-family: $heading

// FUNCTIONAL CLASSES

.hidden
  display:none !important

.center
  text-align:center

.inline
  display:inline

.right
  float:right

.left
  float:left

.clearfix
  clear:both
