// COLORS

// GENERAL

body
  -webkit-font-smoothing: antialiased
  background:#fdfcfa
  margin: 0 auto
  height: 100%

// FUNCTIONAL CLASSES

.hidden
  display:none !important

.center
  text-align:center

.inline
  display:inline

.right
  float:right

.left
  float:left

.clearfix
  clear:both
