.wrapper.page
  padding: 50px 70px
  position: relative
  margin: 0 auto
    
  h2
    font-weight: 200
    color: $light
    font-size: 46px
    line-height: @font-size + 10px
    font-style: italic
    margin: 0 0 10px
    padding: 0
    
  h1
    text-transform: uppercase
    font-size: 80px
    line-height: @font-size
    color: $dark
    margin-bottom: 20px
    
  h3
    font-size: 20px
    line-height: @font-size + 16px
    margin-bottom: 5px
    
  p, li
    font-size: 20px
    line-height: @font-size + 16px
    color: $mid
    margin-bottom: 20px
    
  .button
    display: inline-block
    margin: 20px 10px 10px
      
  p + h3, ul + h3
    margin-top: 40px
      
  li
    list-style-type:initial
    margin-bottom: 10px
    
  ol li
    list-style-type:decimal