$blue = #fff

body.easter
  .hero-image
    width: 100%
    padding: 50px 0 50px
    background: $blue url('/img/easter.jpg') bottom center fixed no-repeat
    background-size: cover

    .mini-logo
      background-image: url('../img/logo.svg');
      background-position: center center
      background-repeat: no-repeat
      height: 150px
      width: @height
      background-size: @height
      display: block
      margin: 0 auto 60px

    .heading
      margin: 0 auto
      text-transform: uppercase
      font-size: 80px
      line-height: @font-size
      color: $blue
      text-align: center
      letter-spacing: 60px
      border: 12px solid $blue
      display: inline-block
      padding:25px 75px
      padding-right: 30px
      transition: all 300ms ease
      animation: fadeIn 300ms ease

      // &:hover
      //   color: $yellow
      //   border-color: $yellow

    .event-details
    .links
      font-family: $heading
      font-size: 17px
      line-height: @font-size
      color: $blue
      text-transform: uppercase
      font-weight: 900
      margin: 100px 0 0

      h2
        font-weight: 900
        margin-bottom: 40px
        letter-spacing: 2px

      a
        display: inline-block
        text-decoration: none
        border: 3px solid $blue
        color: $blue
        padding: 10px 15px
        font-size: 18px
        font-weight: 900
        margin: 0 20px
        transition: all 300ms ease
        letter-spacing: 2px

        &:hover
          color: $yellow
          border-color: $yellow

    .social-links
      font-size: 60px
      margin: 90px 0 50px

      a
        color: white
        text-decoration: none
        margin: 0 20px
  section
    width: 100%
    padding: 100px 0
    color: $dark

    h1
      text-transform: uppercase
      font-size: 40px
      letter-spacing: 6px
      border: 5px solid $dark
      padding:10px 50px
      display: inline-block
      margin-bottom: 30px

    p
      font-size: 20px
      line-height: @font-size + 17px
      width: 630px
      margin: 0 auto

      & + p
        margin-top: 15px

    a.button
      margin: 30px 0 0 0
      display: inline-block
      font-size: 20px

    &.fashion
      background: url('/img/blurred.jpg') bottom center fixed no-repeat
      background-size: cover

    &.syria
      background: url('/img/syria.jpg') bottom center no-repeat
      background-size: cover

      a.button
        color: #c83941
        border-color: #c83941

    &.event

      h2
        margin-bottom: 10px

      p
        font-size: 20px
        line-height: @font-size + 10px

      .event-details
        font-family: $heading
        font-size: 13px
        line-height: @font-size + 12px
        text-transform: uppercase
        letter-spacing: 2px
        font-weight: 900
        margin: 20px 0 0

      small
        display: block
        font-style: italic
        margin-top: 10px

  .footer-image
    background: $blue url('/img/tropic2.jpg') bottom center fixed no-repeat
    background-size: cover
    color: white
    padding: 60px 0 50px
    text-align: center
    font-size: 30px
    line-height: @font-size
    font-family: $berlin-connect
    text-transform: uppercase

    a
      text-decoration: none
      color: white