$blue = #0941d1

body.easter
  background: $blue url('/img/easter.jpg') center center fixed no-repeat
  background-size: cover
  text-align: center

  .yellow-overlay
    background: rgba(#fff799,0.26)
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: -1

  .concrete-overlay
    background: url('/img/concrete.jpg') top left repeat
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: -1
    opacity: 0.2

  .heading
    margin: 230px auto 0
    text-transform: uppercase
    font-size: 100px
    line-height: @font-size
    color: $blue
    text-align: center
    letter-spacing: 50px
    border: 10px solid $blue
    display: inline-block
    padding:25px 55px
    padding-right: 10px
    transition: all 300ms ease
    animation: fadeIn 300ms ease

    &:hover
      color: $yellow
      border-color: $yellow

  .event-details
  .links
    font-family: $heading
    font-size: 17px
    line-height: @font-size
    color: $blue
    text-transform: uppercase
    font-weight: 900
    margin: 100px 0

    h2
      font-weight: 900
      margin-bottom: 40px
      letter-spacing: 2px

    a
      display: inline-block
      text-decoration: none
      border: 3px solid $blue
      color: $blue
      padding: 10px 15px
      font-size: 18px
      font-weight: 900
      margin: 0 20px
      transition: all 300ms ease
      letter-spacing: 2px

      &:hover
        color: $yellow
        border-color: $yellow

  .mini-logo
    background-image: url('../img/logo.svg');
    background-position: center center
    background-repeat: no-repeat
    height: 60px
    width: @height
    background-size: @height
    display: inline-block
    position: fixed
    left: 20px
    top: 20px
    opacity: 0.5
    transition: opacity 300ms ease

    &:hover
      opacity: 1

  .social-links a
    font-size: 60px
    margin: 0 20px 50px
    text-decoration: none
    color: $blue
    transition: all 300ms ease

    &:hover
      color: $yellow
      border-color: $yellow