body
  &.enlarge
    .content
      padding 0 0 100px
      color white

      .sub-hero
        .enlargelogo
          position relative
          z-index: 1
          background url('/img/enlarge-logo.svg')
          background-size contain
          background-repeat no-repeat
          width 600px
          height 200px
          margin 0 auto

      .wrapper
        section
          padding: 60px 0 40px

          h1
            text-transform: uppercase
            font-size: 50px
            line-height: @font-size
            color: $dark
            margin-bottom: 10px

          p
            font-family: $heading

          .items
            width: 100%
            margin: 30px auto 0
            text-align: left

            a.itemLink
              text-decoration: none

              &:hover
                color: #f25a2b
                background-color: rgba(black,0.01)
                display: block

                .item
                  .entypo
                    border: 2px solid #f25a2b

              .item
                padding: 9px 10px 5px
                border-bottom: 1px solid rgba($light,0.3)

                .entypo
                  font-size: 40px
                  text-decoration: none
                  margin-top: -8px
                  padding: 5px 0
                  border: 2px solid $dark
                  height: 30px
                  width: 30px
                  line-height:17px
                  border-radius: 15px
                  margin-right: 10px
                  text-align: center

                  &.play
                    padding: 5px 4px 5px 6px

                  &.download
                    padding: 6px 0 4px

                h3
                  font-size: 22px
                  display: inline-block
                  font-family: $heading

                .speaker
                  padding-top: 8px
                  font-style: italic
                  font-family: $heading

        .sections
          .col
            box-sizing border-box
            padding 0 10px

            .circle
            .box
              width: 286px
              height: 286px
              display: table
              box-sizing border-box
              padding 0 20px
              width: 100%
              border-radius: 227px

              .circle-container
              .box-container
                display: table-cell
                vertical-align: middle

            h3
              font-size: 20px
              line-height: 30px
              font-family: $heading
              font-weight: 300
              margin-bottom: 10px
              text-transform: uppercase

            p, ul
              font-size: 17px
              line-height: 24px
              margin-top: 20px
              font-family: $heading
              color white
              margin 0

            .button
              color white
              border-color white
              margin-top 30px

            &.comingup
              .circle
                background #12e096

              ul
                text-align: left

                li
                  margin-bottom 16px

            &.jesus
              .circle
                background #f25a2b

            &.discover
              .circle
                background #0087e0

            &.workshops
            &.toolbox
              margin-top 100px

              h3
                font-size: 40px
                padding-top 10px
                line-height: 52px

              .box
                text-decoration: none
                color white
                height: 386px
                border-radius: 5px
                background #0087e0
                transition transform 300ms ease
                background-size cover

                &:hover
                  transform: scale(1.04)

            &.toolbox
              .box
                background-color #f25a2b

ul.dates
  margin-top 30px
  font-family: $heading

  li
    list-style-type none
    margin-bottom 20px
    font-size: 24px

    strong
      font-size: 20px
