.new-venue
  .footer
    background: $dark
    border-top: 1px solid rgba(white,0.1)


.the-white-table
.heart-for-the-house
  .footer
    background: $white
    border-top: 1px solid rgba($dark,0.1)

    .white-logo
      background-image: url('../img/logo-outline-dark.svg')
      opacity: 1

    .nav-links
      ul
        color: $dark
        li
          color: $mid
          a
            color: $mid
            opacity: 0.7

            &:hover
              color: $orange
              opacity: 1

    .copyrights
      color: $mid
      border-top: 1px solid rgba($dark,0.1)

      .social-links
        a
          color: $mid

          &:hover
            color: $orange

      .language-switcher
        li
          border-right: 1px solid $mid

          a
            color: $mid

            &:hover
              color: $orange

.heart-for-the-house
  .footer
    background: $yellow
    border-top: 1px solid rgba($dark,0.1)

    .nav-links
      ul li a:hover
        color: $dark
        opacity: 1

    .copyrights
      .social-links
        a:hover
          color: $dark

      .language-switcher
        li
          border-right: 1px solid $mid

          a
            color: $mid

            &:hover
              color: $dark

.footer
  padding: 50px 0
  background: rgba($dark, 0.95)
  z-index: 10
  transition: all 600ms $easing
  text-align: left

  .white-logo
    width: 120px
    height: @width
    display: inline-block
    background: url('../img/logo.png')
    background-image: url('../img/logo-outline.svg')
    background-position: center center
    background-repeat: no-repeat
    background-size: @height
    vertical-align: middle
    opacity: 0.2
    float: left

  .nav-links
    float: right
    display: inline-block
    width: 652px

    ul
      font-family: $heading
      font-size: 0
      display: inline-block
      max-width: 27%
      vertical-align: top
      color: white
      text-transform: uppercase
      font-size: 16px
      font-weight: 800
      letter-spacing: 1px
      margin-left: 60px

      &.first
        margin-left: 0px

      h4
        font-size: 12px
        font-weight: 700
        letter-spacing: 1px
        margin: 0 0 5px
        opacity: 0.3

      li
        font-size: 14px
        margin-bottom: 5px
        color: $light
        transition: color all ease
        cursor: pointer

        & + h4
          margin-top: 15px

        &:hover
          color: white
        a
          color: $light
          text-decoration: none

          &:hover
            color: white

  .copyrights
    color: $light
    border-top: 1px solid rgba(white,0.1)
    padding: 30px 0 0
    margin-top: 30px

    .social-links
      float:right
      display: inline-block
      font-size: 45px
      margin-top: -25px

      a
        color: $light
        margin-left: 10px
        text-decoration: none

    .language-switcher
      font-family: $heading
      text-transform: uppercase
      font-weight: 900
      float: right
      margin-right: 10px
      margin-top: -2px

      li
        display: inline-block
        border-right: 1px solid rgba(white,0.5)
        padding-right: 10px

        &:last-child
          border: none
          padding: 0
          padding-left: 6px

        a
          text-decoration: none
          color: $white
          opacity: 0.5

          &:hover
            opacity: 1