.giving
  .wrapper.page
    text-align: center
    
  .button
    display: inline-block
    margin: 20px 10px 10px
    
  .payment-icons
    width: 243px
    height: 30px
    background-image: url('../img/payment-icons.svg')
    background-position: center center
    background-repeat: no-repeat
    margin: 10px auto 0
    opacity: 0.3
    
  small
    display: block
    font-style: italic  
    