.giving
  .wrapper.page
    padding: 80px 0
    
    .button
      display: inline-block
      margin: 20px auto 10px
      min-width: 300px
      
    .payment-icons
      width: 243px
      height: 30px
      background-image: url('../img/payment-icons.svg')
      background-position: center center
      background-repeat: no-repeat
      margin: 10px 0 0
      opacity: 0.3
      display: inline-block
      
    small
      display: block
      font-style: italic 
      font-size: 12px 
      
    .giving-copy
      padding-right: 40px
      width: 70%
      
    .bank-details
      width: 30%
      
      p
        font-size: 16px
        line-height: @font-size + 8px
        margin-bottom: 10px