.h4th2015
  .content
    .intro
    .verse
      color: $dark
      padding: 80px 0 0

      .wrapper
        .heading-container
          max-width: 600px
          margin: 0 auto 50px

        h1
          text-transform: uppercase
          font-size: 20px
          line-height: 40px
          font-weight: 900
          margin-bottom 20px

        h3
          font-family: $heading
          font-weight: 900
          margin-top 40px
          text-transform: uppercase
          letter-spacing 3px

        h4
          padding-top 40px
          font-family: $heading
          line-height 30px
          margin-top 40px
          text-transform: uppercase
          letter-spacing 3px


        p
          font-size: 20px
          font-family: $heading
          margin-bottom 20px

        .mjphoto
          width 90px
          height 90px
          border-radius 90px
          background-image url("/img/h4h/mjphoto.jpg")
          background-size cover
          background-repeat no-repeat
          margin 20px auto 0



    .intro
      .wrapper
        .heading-container
          margin-bottom 0

          h1
            font-size: 40px
            line-height: 50px
            background-position: 200px 90px

    .verse
      padding-bottom 40px

  .event
    background-color #212121

    .content
      background-color #212121
      color white
      margin 0 auto
      padding 80px 0

      h3
        font-family: $heading
        font-weight: 900
        margin-top 40px
        text-transform: uppercase
        letter-spacing 3px

      h4
        font-family: $heading
        line-height 30px
        text-transform: uppercase
        letter-spacing 3px
        margin-bottom 30px

      p
        font-size: 20px
        font-family: $heading

      .adphoto
        width 90px
        height 90px
        border-radius 90px
        background-image url("/img/h4h/andrew.jpg")
        background-size cover
        background-repeat no-repeat
        margin 20px auto 0

  .threeways
    margin-top 80px

    .heading-container
      h1
        text-transform: uppercase
        font-size: 35px
        line-height: 45px
        font-weight: 900
        margin-bottom 40px

    .cols .col
      position relative
      height 0
      padding-bottom 33.3333%
      background-size cover
      background-position center center
      cursor pointer
      transition transform 300ms ease

      &:hover
        transform scale(1.1)
        z-index 2

      .sectioncontent
        position absolute
        width 100%
        height 100%
        display table

        .md-table
          display table-cell
          vertical-align middle

      h2
        font-size 40px
        color white
        font-family: $heading
        text-transform: uppercase
        font-weight 900
        padding 0 20px

      p
        font-size 20px
        font-family: $heading
        color white

      a
        position absolute
        left 0
        top 0
        width 100%
        height 100%

      &.faithfulgiver
        background-image url("/img/h4h/fgbg.jpg")

      &.visiongiver
        background-image url("/img/h4h/vgbg.jpg")

      &.kingdomgiver
        background-image url("/img/h4h/kgbg.jpg")
