.heart-for-the-house
  background-color: $yellow

  .content
    background-color: $yellow

    .intro
    .threeways
    .thanks
      background: $yellow
      color: $dark
      padding: 80px 0 0

      .wrapper
        .heading-container
          max-width: 470px
          margin: 0 auto 50px
          text-align: center

        h1
          text-transform: uppercase
          font-size: 50px
          line-height: 70px
          font-style: italic
          font-weight: 900
          display: inline
          background-image: url("/img/underline.svg")
          background-position: 200px 60px
          background-repeat: repeat-x


          p
            font-size: 17px
            font-family: $heading
            font-weight: 600
            text-align: justify
            text-justify: inter-word

        .cols .col
          h2
            font-family: "munich", sans-serif
            font-size: 62px
            line-height: 55px
            text-align: center
            color: $dark
            font-weight: normal
            letter-spacing: 1px
            margin-bottom: 20px

          p
            font-size: 30px
            line-height: 38px
            font-family: $heading
            font-weight: 200
            padding: 0 20px
            text-align: center

    .intro
      .wrapper
        .heading-container
          margin-bottom 0

          h1
            paddin-top: 30px
            font-size: 70px
            line-height: 90px
            background-position: 200px 90px

    .stories
      width: 100%
      overlay: hidden

      .story
        position: relative
        overlay: hidden

        .copyoverlay
          background: $yellow
          position: absolute
          height: 100%
          width: 100%
          opacity: 0
          z-index: 1
          transition: all 300ms ease

          table, table td
            border: none !important;
            padding: 0 50px
            box-shadow: none

            p
              font-family: "munich", sans-serif
              font-size: 3.5em
              line-height: 1.2em
              letter-spacing: 1px
              text-align: center
              color: $dark
              font-weight: normal
              transform: scale(0.95)
              opacity: 0
              transition: all 200ms ease

        &:hover
          .copyoverlay
            opacity: 1

            table p
              opacity: 1
              transform: scale(1.0)

        .image
          img
            width: 100%

          .name
            font-size: 34px
            line-height: 40px
            font-weight: 900
            font-family: $heading
            font-style: italic
            text-transform: uppercase
            color: $yellow
            letter-spacing: 1px
            text-align: center
            width: 100%
            position: absolute
            bottom: 40px
            left: 0
            padding: 0 40px