.hero
  width: 100%
  background: url('../img/hero.jpg') center center no-repeat fixed
  background-size: cover
  text-align: center
  color: $white
  
  .wrapper
    padding: 60px 0 140px
    position: relative
  
  .logo
    background: url('../img/logo.png');
    background-image: url('../img/logo.svg'), none;
    background-position: center center
    background-repeat: no-repeat
    height: 200px
    width: @height
    background-size: @height
    margin: 0 auto
    
  h1
    font-size: 100px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 3px
    padding: 40px 0 10px
    
  p
    font-size: 28px
    line-height: 40px
    width: 540px
    margin: 0 auto
    font-style: italic
    
  .arrow
    font-size: 80px
    width: 100%
    left:0
    text-align: center
    position: absolute
    bottom:0px