body.home
  background: $dark
  
.content
  background: $white
  position: relative
  transition: all 600ms $easing
  left: 0
  top: 0
  
section
  .intro
    padding: 100px 0
    position: relative
    
    h2
      font-weight: 200
      color: $light
      font-size: 46px
      line-height: @font-size + 10px
      font-style: italic
      margin: 0 0 10px
      padding: 0
      
    h1
      text-transform: uppercase
      font-size: 60px
      line-height: @font-size
      color: $dark
      margin-bottom: 20px
      
    p
      font-size: 22px
      line-height: @font-size + 16px
      padding: 0 120px
      color: $mid
      margin-bottom: 20px
      
    .video-container
      margin-top: 40px
      
      iframe
        width: 600px
        border-radius: 6px
        overflow: hidden
      
    .button
      display: inline-block
      margin: 10px 10px 10px

    small
      display: block
      color: $light
      font-style: italic
    
    &#home
      margin-top: 0
       
      &:before
        display: none
        content:''
        position: absolute
        width: 436px
        height: 465px
        background: url('../img/tower.png') no-repeat center center
        background-size: 70%
        top: -200px
        left: 50%
        margin-left: -218px
        opacity: 0.4
      
    &#giving
      p
        margin-bottom: 40px
      
.slates
  font-size: 0
  width: 100%
  height: 100%
  display: block
  
  .slate
    position: relative
    float:left
    cursor:pointer
    overflow: hidden
    background: white

    .background-image
      position: absolute
      width: 100%
      height: 100%
      background-size:cover
      background-position: center center
      background-repeat: no-repeat
      transition: all 300ms ease
      opacity: 0.8
      box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.0)
      
    &:hover
      .background-image
        transform:scale(1.05)
        box-shadow: inset 0 0 0 1000px rgba($yellow,0.8)
        
      .caption
        color: $dark
    
    .caption
      color: $white
      position: absolute
      bottom: 30px
      left: 30px
      right: 30px
      transition: color 300ms ease
      
      h2
        font-size: 34px
        line-height: @font-size + 6px
        font-family: $heading
        text-transform: uppercase
        font-weight: 900
        letter-spacing: 1px
      p
        font-size:22px
        font-style: italic

    &.full
      vertical-align: top
      width:100%
      height: 0
      padding-bottom: 50%
      display:inline-block

      .caption
        text-align: center
        top: 50%
        bottom: inherit
        
        h2
          font-size: 70px
          width: 100%
          letter-spacing: 3px
          
        p
          font-size: 44px
          

    &.square.big
      vertical-align: top
      width:50%
      height: 0
      padding-bottom: 50%
      display:inline-block

    &.square.small
      vertical-align: top
      width:25%
      height: 0
      padding-bottom: 25%
      display:inline-block

    &.rectangle
      vertical-align: top
      width:50%
      height: 0
      padding-bottom: 25%
      display:inline-block