// FONT FACE
@font-face
  font-family: 'entypo';
  src: url('../fonts/entypo/entypo.eot')
  src: url('../fonts/entypo/entypo.eot?iefix') format('eot'), url('../fonts/entypo/entypo.woff') format('woff'), url('../fonts/entypo/entypo.ttf') format('truetype'), url('../fonts/entypo/entypo.svg#webfonthOIcM5wm') format('svg')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'entypo-social';
  src: url('../fonts/entypo/entypo-social.eot')
  src: url('../fonts/entypo/entypo-social.eot?iefix') format('eot'), url('../fonts/entypo/entypo-social.woff') format('woff'), url('../fonts/entypo/entypo-social.ttf') format('truetype'), url('../fonts/entypo/entypo-social.svg#webfonthOIcM5wm') format('svg')
  font-weight: 400
  font-style: normal

.entypo-social
  font-family: 'entypo-social'

.entypo
  font-family: 'entypo'

.entypo
.entypo-social
  padding:0
  margin:0
  font-weight:normal
  display:inline-block
  vertical-align: middle
  text-align: center

  // sizes

  &.medium
    color:$light
    font-size:60px
    line-height:62px

    &:hover
      color:$blue

  &.big
    color:$blue
    font-size:109px
    line-height:109px

// entypo

.entypo

  &.arrow:before
    content: ''

  &.sidebar:before
    content: '☰'

  &.close:before
    content:'✖'

  &.play:before
    content:'▶'

  &.list:before
    content:'☰'

  &.book:before
    content:'📕'

  &.download:before
    content:''

.entypo-social

  &.paypal:before
    content: ''

  &.facebook:before
    content: ''

  &.twitter:before
    content: ''

  &.instagram:before
    content: ''

  &.tumblr:before
    content: ''

  &.pintrest:before
    content: ''