@-webkit-keyframes scaleUp
  0%
    opacity: 0
    -webkit-transform: scale(0.97)

  100%
    opacity: 1
    -webkit-transform: scale(1)

@-moz-keyframes scaleUp
  0%
    opacity: 0
    -moz-transform: scale(0.97)

  100%
    opacity: 1
    -moz-transform: scale(1)

@keyframes scaleUp
  0%
    opacity: 0
    transform: scale(0.97)

  100%
    opacity: 1
    transform: scale(1)

.scaleUp {
  animation: scaleUp 200ms ease-in-out
}

@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1

.lightbox
  position: fixed
  overflow: scroll
  -webkit-overflow-scrolling: touch
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 10
  transition: all 400ms ease
  
  &.hide
    opacity: 0
    
    .lightbox-container
      transform: scale(0.98)
      
  .lightbox-overlay
    position: fixed
    height: 100%
    width: 100%
    z-index: -1
          
  .lightbox-container
    background: #fff
    top: 0
    width: 650px
    z-index: 10000
    margin: 100px auto
    transition: all 400ms ease
    transform: scale(1)
    
    .header-image
      width: 650px
      height: 300px
      overflow:hidden
      position: relative
      background-size: cover
      background-position: top center
      display: table
      opacity: 0.8
      
      .overlay
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        background: rgba(black,0.2)
        
      .entypo.close
        position: absolute
        color: $white
        font-size: 60px
        line-height: @font-size
        right: 15px
        top: 0
        opacity: 0.9
        transition: opacity 300ms ease
        cursor: pointer
        z-index: 10
        
        &:hover
          opacity: 1
      
      .header-copy
        position: relative
        display:table-cell
        vertical-align:middle
        text-align: center
        color: $white
      
        h2
          font-family: $heading
          text-transform: uppercase
          font-weight: 800
          letter-spacing: 0px
          font-size: 45px
          line-height: @font-size + 6px
          margin:0

        p
          font-size: 22px
          line-height: @font-size + 6px
          width: 100%
          font-style: italic
          
    .container
      padding: 40px
        
      h3
        font-size: 20px
        line-height: @font-size + 10px
        
      p
        font-size: 18px
        line-height: @font-size + 12px
        margin-bottom: 30px
        color: $mid
        
      blockquote
        p
          font-size: 16px
          line-height: @font-size + 10px
          font-style: italic
          
          strong
            padding-top: 10px
            display: block
        
      .video-container + h3
        margin-top: 30px  
        
    .button-container
      padding: 0 20px 30px
      display: none
      
      .close-lightbox
        display: inline-block
        text-align: center
        width: 150px
            
        
.dark-overlay
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  background: rgba(black,0.7)
  z-index: 9
  animation: fadeIn 200ms ease-in-out
  
  &.hideme
    display: none
  
  &.hide
    opacity: 0