@keyframes fade
  0%
    opacity: 0
  
  80%
    opacity: 0

  100%
    opacity: 1
    
.menu
  width: 100%
  position: absolute
  z-index: 2
  left: 0
  top: 0
  padding: 20px 0
  font-family: $heading
  text-transform: uppercase
  transition: transform 600ms $easing
  animation: fade 3000ms ease

  &.down
    transform: translateY(0)
  
  .typelogo
    width: 250px
    margin-top: 8px
  
  .sidebar-control
    float: right
    font-weight: 600
    posiiton: relative
    font-size: 20px
    padding-top: 6px
    cursor: pointer
    color: $white
    
    &:after
      content: '☰'
      position: aboluste
      margin-left: 10px
      font-size: 20px
      
    