.menu
  background: rgba($white,0.95)
  width: 100%
  position: fixed
  z-index: 2
  left: 0
  top: 0
  padding: 20px 0
  font-family: $heading
  text-transform: uppercase
  box-shadow: 0 1px 2px rgba(#000,0.2)
  transition: transform 300ms ease
  transform: translateY(-100px)

  &.down
    transform: translateY(0)
  
  .typelogo
    background-image: url('../img/typelogo.svg'), none;
    background-repeat: no-repeat
    background-position: center center
    height: 40px
    width: 250px
    background-size: contain
  
  .sidebar
    float: right
    font-weight: 600
    posiiton: relative
    font-size: 20px
    padding-top: 6px
    cursor: pointer
    color: $mid
    
    &:after
      content: '☰'
      position: aboluste
      margin-left: 10px
      font-size: 20px
      
    