.notice
  width: 100%
  background-color: #f25a2b
  padding: 20px
  font-size: 16px
  font-family: $body
  color: white
  position: fixed
  bottom: 0
  z-index: 20
  transition: all 500ms ease
  transform: translateY(0)
  font-style: italic
  animation: slideUp 1000ms ease


