@media $media-desktop-big

  body
    
    // Give slates a defined width
    .slates
      width: 1550px
      height: 100%
      margin: 0 auto
      
@media $media-desktop 

  body
    
    // Intro sections on the homepage
    section .intro
      width: 700px

@media $media-tablet

  body
    .wrapper
      width: 800px
      box-sizing: border-box
      padding: 0 10px
    
    // Hero section
    .hero
      .wrapper
        padding: 70px 0 120px
        
        h1
          font-size: 90px
          
        p
          font-size: 26px
          width: 500px
          
    // Footer sections
    .footer
      .nav-links
        width: 538px
        
        ul
          margin-left: 50px

@media $media-tablet-portrait

  body
    .wrapper
      width: 750px
      padding: 0 20px
      
    // Hero section
    .hero
      .wrapper
        padding: 70px 0 120px
        
        h1
          font-size: 80px
          
        p
          font-size: 22px
          width: 500px
          
    section     
      .slates
        .slate   
          .caption
            bottom: 15px
            left: 15px
            right: 15px
            
            h2
              font-size: 26px
              line-height: @font-size + 6px
              font-family: $heading
              text-transform: uppercase
              font-weight: 900
              letter-spacing: 1px
            p
              font-size: 17px
          
@media $media-full-width

  body
    .wrapper
      width: 100%
      
    // Hero section
    .hero
      .wrapper
        padding: 70px 0 100px
        
        .logo
          height: 140px
          width: @height
          background-size: @height
          margin-bottom: 10px
        
        h1
          font-size: 70px
          line-height: @font-size + 8px
          
        p
          font-size: 22px
          line-height: @font-size + 10px
          width: 100%
          padding: 0 40px
          
    // Intro sections on the homepage
    section .intro
      padding: 50px 0
      
      h2
        font-size: 30px
        line-height: @font-size + 10px
        font-style: italic
        margin: 0 0 10px
        padding: 0
        
      h1
        text-transform: uppercase
        font-size: 42px
        line-height: @font-size + 6px
        color: $dark
        margin-bottom: 0
        
      p
        font-size: 18px
        line-height: @font-size + 15px
        color: $mid
        margin-bottom: 15px
    
    section
      .slates
        .slate
          width:100%  !important
          padding-bottom: 50%  !important
          
          .caption
            bottom: 30px
            left: 30px
            right: 30px
            
            h2
              font-size: 36px
              line-height: @font-size + 6px
            p
              font-size: 20px
              
    .footer
      .white-logo
        display: none
        
      .nav-links
         width: auto
         
        ul
          margin-left: 0px
          
    .lightbox
      .lightbox-container
        width: 100%
        height: auto
        margin: 0 auto
        
        .header-image
          width: 100%
          height: 240px
          
          .header-copy
            padding: 0 20px
            
            h2
              font-size: 38px
              line-height: @font-size + 6px
              margin:0 0 10px

            p
              font-size: 20px
              line-height: @font-size + 6px
              width: 100%
              font-style: italic
          
        .container
          padding: 40px 20px
          
@media $media-mobile
  
  body
    .sidebar
      .entypo
        &.close
          top: 0
          
      .sidebar-container
        padding-top: 20px

    .button
      position: relative
      padding: 18px 0 17px
      width: 100%
      
    .menu
      padding: 13px 0
  
      .typelogo
        padding-top: 3px
        font-size: 28px
        
      .sidebar
        padding-top: 2px
    
    .sub-hero
      h2
        font-weight: 300
        font-size: 30px
        line-height: @font-size + 10px
        margin: 0 0 5px
        padding: 0
        
      h1
        text-transform: uppercase
        font-size: 55px
        line-height: @font-size
        margin-bottom: 20px
        
    section .intro
      .video-container 
        padding-bottom: 56%
        position: relative
        width: 100%
        height: 0
        
        iframe
          position: absolute
          width: 100%
          height: 100%
          left: 0
          top: 0
        
    .wrapper.page
      padding: 30px
      
      ol
        padding-left: 20px
      
      p
        font-size: 18px
        line-height: @font-size + 15px
        
      .button
        margin: 10px 0
        
    .footer
      .nav-links
        width: 100%
        clear:right
         
        ul
          margin-left: 0px
          display:block
          max-width: 100%
          margin 0 20px
          
          &.first
            margin 0 20px
          
          li
            margin-bottom: 10px
            font-size: 16px
            
      .copyrights
        text-align: center
        .social-links
          clear:right
          display: block
          font-size: 65px
          width: 100%
          
          a
            color: $light
            margin-left: 10px
            text-decoration: none
              
@media $media-mobile-portrait

  body
    .menu
      .typelogo
        display: none
    
    .hero
      .wrapper
        padding: 70px 0 100px
        
        h1
          font-size: 40px
          line-height: @font-size + 6px
          
        p
          font-size: 20px
      
    section
      .welcome-home
        width: 100%
        height: 240px
        background: url('../img/welcome-home.jpg')
        background-size: cover
        background-position: center left
        border-radius: 4px
        display: table
        overflow: hidden
        margin: 50px auto 0
        text-align: center
        position: relative
        cursor: pointer
        color: $white
        
    section
      .slates
        .slate
          width:100%  !important
          padding: 0 !important
          display: table
          height: auto !important
          position: relative
          
          .caption
            position: relative
            display:block
            vertical-align:middle
            text-align: center
            bottom: 0
            left: 0
            right: 0
            width: 100%
            padding: 100px 0
            
            h2
              font-size: 30px
              line-height: @font-size + 6px
              text-align: center
              width: 100%
            p
              display: none
              
@media $media-too-high
  
  // Hacky footer implementation
  
  body
    .wrapper.page
      min-height: 800px