
body.active
  
  .sidebar-container
    transform: scale(1)
    
  .sidebar
    transform: translateX(0)
    
    &:before
      transform: scale(0.98)
      opacity: 0
    
    .social-links
      opacity: 1
      
    .sidebar-container     
      li
        opacity: 1
        
    .logo-outline
      opacity: 0.4
        
  .content
  .menu
    transform: translate3d(-260px, 0, 0)
    
.sidebar
  position: fixed
  width: 260px
  height: 100%
  background: $dark
  right: 0
  top: 0
  overflow: scroll
  transform: translateX(260px)
  transition: all 600ms $easing
  
  &:before
    content: ''
    position: absolute
    height:100%
    width: 100%
    background-image: url('../content/sections/01-sunday-celebrations/background.jpg')
    background-size: 600%
    background-repeat: none
    background-position:  bottom center
    -webkit-filter:blur(13px)
    opacity: 0
    transform: scale(0.99)
    transition: all 600ms $easing

  .entypo
    &.close
      font-size: 40px !important
      position: fixed
      color: white
      z-index: 10
      right: 20px
      top: 25px
      transition: all 300ms ease
      opacity: 0.5
      
      &:hover
        opacity: 1
  
  .sidebar-container
    font-family: $heading
    color: $white
    font-size: 15px
    padding: 30px 25px 0
    text-transform: uppercase
    font-weight: 700
    letter-spacing: 1px
    transition: all 600ms $easing
    transform: scale(0.98)
    
    li
      margin-top: 6px
      cursor: pointer
      transition: all 300ms ease
      display: block
      opacity: 0
      
      a
        color: $white
        opacity: 0.5
        text-decoration: none
        
        &:hover
          opacity: 1.0
          
  .social-links
    color: white
    font-size: 50px
    margin: 20px
    opacity: 0
    transition: all 300ms ease
    
    span
      margin-right: 10px
      opacity: 0.5
      cursor: pointer
      transition: all 300ms ease
      
      &:hover
        opacity: 1
  
  .logo-outline
    background-image: url('../img/logo-outline.svg')
    background-position: center center
    background-repeat: no-repeat
    height: 60px
    width: @height
    background-size: @height
    margin-left: 20px
    opacity: 0   

